<div class="relative min-h-screen lg:min-h-screen bg-blue-900">
  <ul class="circles absolute top-0 left-0 w-full h-full overflow-hidden pointer-events-none">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="flex items-center justify-center min-h-screen ml-8 mb-8 mr-8">
    <div class="w-full max-w-md p-8 space-y-6 bg-white rounded-lg shadow-md">
      <div class="text-center">
        <img src="../../../assets/images/logo.png" alt="Logo policia Morelia" class="mx-auto w-32 h-32 md:w-48 md:h-48 rounded-full mb-4">
        <h3 class="text-xl font-medium text-gray-900">Bienvenido a Syspol2</h3>
        <p class="text-gray-600">Inicia sesión para continuar.</p>
      </div>
      <form class="mt-8 space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="col-span-6">
          <div class="mb-4">
            <label for="usuario" class="block text-sm font-medium text-gray-700">Usuario</label>
            <input
              id="usuario"
              name="usuario"
              type="text"
              formControlName="usuario"
              required
              class="w-full p-2 mt-1 border border-gray-300 rounded"
              placeholder="Nombre de usuario"
              [ngClass]="{ 'is-invalid': loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched }"
            />
            <div *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched" class="text-red-500 text-sm mt-1">
              El usuario es requerido.
            </div>
          </div>
      
          <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
            <input
              id="password"
              name="password"
              type="password"
              formControlName="password"
              required
              class="w-full p-2 mt-1 border border-gray-300 rounded"
              placeholder="Contraseña"
              [ngClass]="{ 'is-invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }"
            />
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-red-500 text-sm mt-1">
              La contraseña es requerida.
            </div>
          </div>
      
          <div class="mb-4">
            <button
              type="submit"
              class="w-full inline-block rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
              [disabled]="loginForm.invalid"
            >
              Iniciar sesión
            </button>
          </div>
      
          <div *ngIf="loginError" class="text-red-500 text-sm mt-3 text-center" role="alert">
            {{ loginError }}
          </div>
        </div>
      </form>
      <div class="text-center text-xs text-gray-500">
        <span>
          Syspol2
        </span>
      </div>
    </div>
  </div>
</div>