<div class="bg-white shadow p-4 flex w-full mx-auto">
  <span class="w-auto flex justify-end items-center text-gray-500 p-2">
    <i class="material-icons text-3xl">search</i>
  </span>
  <input class="search-input flex-grow rounded p-2" type="text" placeholder="Buscar..." [(ngModel)]="searchText" (input)="applyFilter()">
  <button class="ml-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
    Buscar
  </button>
</div>

<div class="bg-white shadow-md rounded flex justify-center items-center p-4">
  <div class="flex flex-wrap gap-2 justify-center">
    <button class="px-3 py-1 text-sm text-gray-800 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500" (click)="filterByRecent()">
      Más Reciente
    </button>
    <button class="px-3 py-1 text-sm text-gray-800 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500" (click)="filterByOldest()">
      Más antigua
    </button>
    <button class="px-3 py-1 text-sm text-gray-800 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500" (click)="filterByBrand()">
      Por Marca
    </button>
    <button class="px-3 py-1 text-sm text-gray-800 bg-gray-200 rounded-full hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-500" (click)="filterByArea()">
      Por Área
    </button>
  </div>
</div>

<div class="flex flex-row flex-wrap justify-center items-stretch bg-gray-100 pb-8">
  <div *ngFor="let infraction of filteredInfractions" class="flex max-w-lg rounded overflow-hidden shadow-lg mt-8 mx-8 cursor-pointer" (click)="viewInfractionDetails(infraction.id)">
    <img class="w-1/3 object-cover" src="{{ infraction.imagenes }}" alt="Imagen del vehículo">
    <div class="w-2/3 px-4 py-2">
      <div class="font-bold text-lg mb-2">{{ infraction.placas }}</div>
      <p class="text-gray-700 text-sm">
        <strong>Fecha:</strong> {{ infraction.fecha | date: 'dd MMM yyyy hh:mm a' }}
      </p>
      <p class="text-gray-700 text-sm">
        <strong>Modelo:</strong> {{ infraction.marca }} {{ infraction.modelo }}
      </p>
      <p class="text-gray-700 text-sm">
        <strong>Folio:</strong> {{ infraction.folio }}
      </p>
      <p class="text-gray-700 text-sm">
        <strong>Motivo:</strong> {{ infraction.motivoDeMulta }}
      </p>
      <div class="flex flex-wrap">
        <span *ngFor="let tag of infraction.tags" class="bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ tag }}</span>
      </div>
    </div>
  </div>
</div>

<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex flex-wrap justify-center">
    <div class="mx-4 mb-4">
      <h5 class="text-lg font-bold">Policia municipal de Morelia</h5>
      <p>Dirección: Calle Principal #123, Ciudad Gobierno</p>
      <p>Teléfono: +123 456 789</p>
    </div>
    <div class="mx-4 mb-4">
      <h5 class="text-lg font-bold">Enlaces</h5>
      <ul>
        <li><a href="/juez">Ver Multas</a></li>
      </ul>
    </div>
  </div>
</footer>
