<app-admin-nav></app-admin-nav>
<section class="bg-white min-h-screen flex items-center justify-center px-8 py-8 sm:px-12 lg:px-16 lg:py-12">
  <div class="max-w-xl lg:max-w-3xl">
    <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
      Ingresa las placas del vehículo
    </h1>

    <p class="mt-4 leading-relaxed text-gray-500">
      Por favor, ingresa las placas o el VIN del vehículo que deseas buscar.
    </p>

    <form [formGroup]="vehicleForm" class="mt-8 space-y-6">
      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-900" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"/>
            <circle cx="7" cy="17" r="2" />
            <circle cx="17" cy="17" r="2" />
            <path d="M5 17h-2v-6l2-5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5" />
          </svg>
        </div>
        <input formControlName="inputField" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5" placeholder="{{ inputLabel }}" required />
      </div>

      <div class="mt-4">
        <mat-radio-group aria-label="Selecciona una opción" formControlName="inputType" (change)="onInputChange()" class="flex gap-4">
          <mat-radio-button value="placas">Placas</mat-radio-button>
          <mat-radio-button value="vin">VIN</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="mt-6 flex gap-4">
        <button class="inline-block rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500" (click)="search()" type="button" [disabled]="!vehicleForm.valid">
          Buscar
        </button>
        <button class="inline-block rounded-md border border-gray-300 bg-white px-12 py-3 text-sm font-medium text-gray-700 transition hover:bg-gray-100 focus:outline-none focus:ring active:text-gray-500" type="button" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>
<div class="pt-6">
  <app-bottom-nav></app-bottom-nav>
</div>
